.navbar{
    background-color: var(--color-grey-1);
    display: flex;
    align-items: center;
    height: 76px;
    margin-bottom: 28px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.navbar-links{
    display: flex;
    gap: var(--gap-4);
}

.navbar-link{
    background-color: transparent;
    color: var(--color-white-fixed);
    height: 2rem;
    padding: 0.5rem;
    border-radius: var(--radius-1);
    text-decoration: none;
    font-size: var(--font-s-3);
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.navbar-link:hover, .navbar-link.actived{
    background-color: var(--color-grey-2);
}

